{% load crispy_forms_tags %}
{% load get_direction_city_url %}
{% load get_instance_id %}
{% load static %}

 	  	<div class="modal-header">
 	  		<button type="button" class="close" data-dismiss="modal">&times;</button>
 	  		<p class="modal-title">Изменить контакты</p>
   		</div>
		<form action="/map/schools/school-{{ instance.pk }}/edit/edit-school-contacts/" method="post">
			<!-- modal body -->
			<div class="modal-body">
				<div class="row">
					<div class="col-md-6">
						{% csrf_token %}
						{{ form_contact }}
						{{ form_socials }}
					</div>
					<div class="col-md-6">
						<a 	id="newTelephone"
							data-toggle="modal"
						   	href="/create/attributes/create-telephone-number/{{ request.path|get_direction_city_url }}?instance={{ request.path|get_instance_id }}"
						   	data-target="#myModal2" class="btn btn-primary">Добавить новый номер телефона</a>

					</div>
				</div>
			</div>
			<!-- /modal body -->

			<div class="modal-footer"><!-- modal footer -->
				<button class="btn btn-default" data-dismiss="modal">Отмена</button>
				<button type="submit" class="btn btn-primary">Сохранить контакты</button>
			</div><!-- /modal footer -->
		</form>
