{% load crispy_forms_tags %}
{% load get_direction_city_url %}
{% load static %}

		<div class="modal-header">
 	  		<button type="button" class="close" data-dismiss="modal">&times;</button>
 	  		<h4 class="modal-title">Добавить ссылку</h4>
   		</div>
		<form action="/create/attributes/create-shop-link/{{ request.path|get_direction_city_url }}?instance={{ incoming_instance }}" method="post">
			<!-- modal body -->
			<div class="modal-body">
					{% csrf_token %}
					{{ form }}
			</div>
			<!-- /modal body -->

			<div class="modal-footer"><!-- modal footer -->
				<button class="btn btn-default" data-dismiss="modal">Отмена</button> <button type="submit" class="btn btn-primary">Добавить</button>
			</div><!-- /modal footer -->
		</form>