{% load crispy_forms_tags %}
{% load static %}

	<div class="modal-header"><!-- modal header -->
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="myModalLabel">Добавить персону</h4>
	</div><!-- /modal header -->
	<form action="/create/person/" method="post">
		<!-- modal body -->
		<div class="modal-body">
				{% csrf_token %}
				{{ form }}
		</div>
		<!-- /modal body -->

		<div class="modal-footer"><!-- modal footer -->
			<button class="btn btn-default" data-dismiss="modal">Закрыть</button> <button type="submit" class="btn btn-primary">Добавить персону</button>
		</div><!-- /modal footer -->
	</form>