{% extends "base.html" %}
{% load get_direction_city_url %}

{% block title %}{{ title }} - {% endblock %}

{% block wrapper %}

<!-- WRAPPER -->
		<div id="wrapper" style="padding-top:10px">

			<section class="container">

				<div class="row">

					<div class="col-md-12">

						<h2><strong>Мероприятия</strong></h2>

                        <a href="/create/event/{{ request.path|get_direction_city_url }}" class="btn btn-primary" data-toggle="modal" data-target=".ajax_modal_container">Мероприятия</a>
                        <a href="/create/promo-action/{{ request.path|get_direction_city_url }}" class="btn btn-primary" data-toggle="modal" data-target=".ajax_modal_container">Акции</a>

						<hr />

                        <h2><strong>Страницы</strong></h2>

						<a href="/create/place/{{ request.path|get_direction_city_url }}" class="btn btn-primary" data-toggle="modal" data-target=".ajax_modal_container">Место</a>
						<button type="button" class="btn btn-primary">Школа</button>
						<button type="button" class="btn btn-primary">Учитель</button>
						<button type="button" class="btn btn-primary">Огранизация</button>
						<button type="button" class="btn btn-primary">Персона</button>
						<button type="button" class="btn btn-primary">Магазин</button>
						<button type="button" class="btn btn-primary">Услуги</button>
						<button type="button" class="btn btn-primary">Зал для аренды</button>
						<button type="button" class="btn btn-primary">Информационный ресурс</button>

						<hr />

                        <h2><strong>Материал</strong></h2>

						<button type="button" class="btn btn-primary">Статья</button>
						<button type="button" class="btn btn-primary">Глава</button>
						<button type="button" class="btn btn-primary">Фото</button>
						<button type="button" class="btn btn-primary">Альбом</button>
						<button type="button" class="btn btn-primary">Видео</button>
						<button type="button" class="btn btn-primary">Плейлист</button>
						<button type="button" class="btn btn-primary">Аудио</button>
						<button type="button" class="btn btn-primary">Треклист</button>
						<button type="button" class="btn btn-primary">Танцевальный стиль</button>
						<button type="button" class="btn btn-primary">Танцевальное направление</button>

					</div>

					<div class="modal fade ajax_modal_container" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content"></div>
						</div>
					</div>
				</div>

			</section>

		</div>
		<!-- /WRAPPER -->

{% endblock %}