{% extends "base.html" %}
{% load get_direction_city_url %}

{% block title %}{{ title }} - {% endblock %}

{% block wrapper %}

<!-- WRAPPER -->
		<div id="wrapper" style="padding-top:10px">

			<section class="container">

				<div class="row">

					<div class="col-md-12">

						<h2><strong>Мероприятия</strong></h2>

                        <a href="/create/event/" class="btn btn-primary" data-toggle="modal" data-target=".ajax_modal_container">Мероприятия</a>
                        <a href="/create/promo-action/" class="btn btn-primary" data-toggle="modal" data-target=".ajax_modal_container">Акции</a>

						<hr />

                        <h2><strong>Страницы</strong></h2>

						<a href="/create/place/" class="btn btn-primary" data-toggle="modal" data-target=".ajax_modal_container">Место</a>
						<a href="/create/school/" class="btn btn-primary" data-toggle="modal" data-target=".ajax_modal_container">Школа</a>
						<a href="/create/teacher/" class="btn btn-primary" data-toggle="modal" data-target=".ajax_modal_container">Учитель</a>
						<a href="/create/organization/" class="btn btn-primary" data-toggle="modal" data-target=".ajax_modal_container">Организация</a>
						<a href="/create/person/" class="btn btn-primary" data-toggle="modal" data-target=".ajax_modal_container">Персона</a>
						<a href="/create/shop/" class="btn btn-primary" data-toggle="modal" data-target=".ajax_modal_container">Магазин</a>
						<a href="/create/customer-services/" class="btn btn-primary" data-toggle="modal" data-target=".ajax_modal_container">Услуги</a>
						<a href="/create/hall/" class="btn btn-primary" data-toggle="modal" data-target=".ajax_modal_container">Зал для аренды</a>
                        <a href="/create/resource/" class="btn btn-primary" data-toggle="modal" data-target=".ajax_modal_container">Информационный ресурс</a>

						<hr />

                        <h2><strong>Материал</strong></h2>

                        <a href="/create/article/" class="btn btn-primary" data-toggle="modal" data-target=".ajax_modal_container">Статья</a>
                        <a href="/create/chapter/" class="btn btn-primary" data-toggle="modal" data-target=".ajax_modal_container">Глава</a>
                        <a href="/create/photo/" class="btn btn-primary" data-toggle="modal" data-target=".ajax_modal_container">Фото</a>
                        <a href="/create/album/" class="btn btn-primary" data-toggle="modal" data-target=".ajax_modal_container">Альбом</a>
                        <a href="/create/video/" class="btn btn-primary" data-toggle="modal" data-target=".ajax_modal_container">Видео</a>
                        <a href="/create/playlist/" class="btn btn-primary" data-toggle="modal" data-target=".ajax_modal_container">Плейлист</a>
                        <a href="/create/audio/" class="btn btn-primary" data-toggle="modal" data-target=".ajax_modal_container">Аудио</a>
                        <a href="/create/tracklist/" class="btn btn-primary" data-toggle="modal" data-target=".ajax_modal_container">Треклист</a>
                        <a href="/create/dance-style/" class="btn btn-primary" data-toggle="modal" data-target=".ajax_modal_container">Танцевальный стиль</a>
                        <a href="/create/dance-direction/" class="btn btn-primary" data-toggle="modal" data-target=".ajax_modal_container">Танцевальное направление</a>

					</div>

					<div class="modal fade ajax_modal_container" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content"></div>
						</div>
					</div>
				</div>

			</section>

		</div>
		<!-- /WRAPPER -->

{% endblock %}