{% load crispy_forms_tags %}
{% load static %}

 	  	<div class="modal-header">
 	  		<button type="button" class="close" data-dismiss="modal">&times;</button>
 	  		<p class="modal-title">{{ modal_window_title }}</p>
   		</div>
		<form action="/{{ entity }}-{{ instance.pk }}/edit/{{ attribute }}/" method="post"
               {% if attribute == 'image' %}enctype='multipart/form-data'{% endif %}>
			<!-- modal body -->
			<div class="modal-body">
					{% csrf_token %}
					{{ form }}
			</div>
			<!-- /modal body -->
            {% if attribute == 'status' %}
            Статус, который определяется автоматически, может иметь такие значения как:
			<ul>
				<li>Запланировано</li>
				<li>Проводится</li>
				<li>Завершено</li>
			</ul>
			Значение зависит от сегодняшней даты, а также даты начала и окончания мероприятия.
            {% endif %}
			<div class="modal-footer"><!-- modal footer -->
				<button class="btn btn-default" data-dismiss="modal">Отмена</button>
				<button type="submit" class="btn btn-primary">Сохранить</button>
			</div><!-- /modal footer -->
		</form>
