{% extends "map/map.html" %}
{% load get_direction_city_url %}
{% block title %}Танцевальные места на карте - {% endblock %}

{% block map_content %}
				<div class="row">
					<div class="col-md-9">
						<h3 class="page-header nomargin-top">
							<strong class="styleColor">Места для танцев</strong> на карте
						</h3>
					</div>
					<div class="col-md-3">
						<!-- AJAX MODAL -->
						<a href="/locations/{{ request.GET.location }}-modal-ajax/" class="btn btn-default fullwidth" data-toggle="modal" data-target=".ajax_modal_container" style="overflow: hidden">
							<i class="fa fa-plus"></i> Добавить место
						</a>
						<div class="modal fade ajax_modal_container" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-md">
								<div class="modal-content"></div>
							</div>
						</div>
						<!--<button class="btn btn-default fullwidth" style="overflow: hidden" title="Добавить место"><i class="fa fa-plus"></i> Добавить место</button>-->
					</div>
				</div>
				<div class="row">
					<div class="col-md-9">
                        {% for instance in instances %}
						<div class="row">
							<div class="col-md-3 text-center">
								{% if instance.image %}
								<img alt="{{ instance.title }}" class="img-responsive" src="{{ instance.image.url }}" />
								{% endif %}
							</div>
							<div class="col-md-9">
								 <div class="row">
									 <div class="col-sm-5">
									 	<h4><a class="styleColor" href="/map/places/place-{{ instance.pk }}/{{ request.path|get_direction_city_url }}">{{ instance.title }}</a></h4>
									 </div>
									 <div class="col-sm-4">
										 {% for address in instance.get_locations_address_list %}{{ address }} <br />{% endfor %}
									 </div>
									 <div class="col-sm-3">
									 	<p><small class="block styleSecondColor fsize17">
											{% for link in instance.get_links_list %}
												<a href="{{ link }}">Перейти на сайт</a>
											{% endfor %}
										</small></p>
									 </div>
								 </div>
								<div class="row">
									<div class="col-sm-6">
										{% for dance_style in instance.get_dance_styles_list %}{{ dance_style }}{% if not forloop.last %}, {% endif %}{% endfor %}
									</div>
									<div class="col-sm-6">
										<p>
											<span class="fsize20 pull-right">
												{% for phone_number in instance.contacts.phone_numbers.all %}
												<i class="fa fa-phone" title="Телефон"></i> {{ phone_number.phone_number }} <br />
												{% endfor %}
												{% for fb in instance.contacts.socials.fb.all %}
												<a href="{{ fb.link }}">
													<i class="fa fa-facebook-square" title="FB" ></i>
												</a>
												{% endfor %}
												{% for vk in instance.contacts.socials.vk.all %}
												<a href="{{ vk.link }}">
													<i class="fa fa-vk" title="VK" ></i>
												</a>
												{% endfor %}
												{% for instagram in instance.contacts.socials.instagram.all %}
												<a href="{{ instagram.link }}">
													<i class="fa fa-instagram" title="Instagram" ></i>
												</a>
												{% endfor %}
												{% for twitter in instance.contacts.socials.twitter.all %}
												<a href="{{ twitter.link }}">
													<i class="fa fa-twitter" title="Twitter" ></i>
												</a>
												{% endfor %}
												<!--<i class="bed-ico" title="beds"></i> 3 ,
												<i class="garage-ico" title="garage"></i> 1 ,
												<i class="furnished-ico" title="furnished"></i>-->
											</span>
										</p>
									</div>
								</div>
							</div>
						</div>
						{% if not forloop.last %}<hr class="half-margins" /><!-- separator -->{% endif %}
                        {% endfor %}

						<hr /><!-- final separator -->

					</div>

					<div class="col-md-3">
						<form method="post" class="white-row">
							{% csrf_token %}
							<!-- FILTER / SEARCH -->
							<h3 class="page-header nomargin-top margin-bottom40">
								Найти <strong class="styleColor">места</strong>
							</h3>

							<input type="hidden" name="city" value="{{ select_city_form.city.value }}">

							<div class="row">
								<div class="form-group">

									{% for field in form %}
									<div class="col-md-12 col-sm-6">
										<label>{{ field.label }}</label>
										{{ field }}
									</div>
									{% endfor %}

									<div class="col-md-12">
										<label>&nbsp;</label>
										<button class="btn btn-primary fullwidth">Найти</button>
									</div>
								</div>
							</div>
						</form>
						<!-- SOCIALS -->
						<h3 class="page-header">
							<i class="fa fa-twitter"></i>
							<strong class="styleColor">Следите</strong> за нами
						</h3>
						<a href="#" class="social fa fa-facebook"></a>
						<a href="#" class="social fa fa-twitter"></a>
						<a href="#" class="social fa fa-google-plus"></a>
						<a href="#" class="social fa fa-linkedin"></a>
						<a href="#" class="social fa fa-pinterest"></a>
						<a href="#" class="social fa fa-flickr"></a>
					</div>
				</div>
{% endblock %}