
<div class="row">
    <div class="col-md-4 text-center">
        <a href="{% if not instance.is_linked_article %}/photo-{{ instance.id }}{% else %}{{ instance.article_link }}{% endif %}">
            {% if instance.image %}
            <img alt="" class="img-responsive" src="{{ instance.image.url }}" />
            {% endif %}
        </a>
    </div>
    <div class="col-md-8 my_article">
        <h4><a class="styleColor" href="{% if not instance.is_linked_article %}/photo-{{ instance.id }}{% else %}{{ instance.article_link }}{% endif %}"><b>{{ instance.title }}</b></a></h4>

            {{ instance.description|linebreaks|truncatechars:400 }}
        <p>
            <small class="block styleSecondColor">{{ instance.created }}</small>
        </p>
    </div>
</div>