{% load static %}
<div id="fb-root"></div>

<script src="{% static 'django_facebook/js/facebook.js'%}" type="text/javascript"></script>
<script>
    facebookAppId = '{{ FACEBOOK_APP_ID }}';
    facebookDefaultScope = {{ FACEBOOK_DEFAULT_SCOPE_JS }};
    staticUrl = '/static/';
  window.fbAsyncInit = function() {
    FB.init({
      appId      : facebookAppId,
      cookie     : true,
      xfbml      : true,
      version    : 'v2.10'
    });
    //FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.10&appId=351042105343032";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
    F = new facebookClass(facebookAppId);
    F.load();
</script>