{% load static %}
{% load startswith %}
{% load get_direction_city_url %}

		<header id="mainHeader">
			<ul>
				<li class="logo">
					<a style='list-style: none !important;' href="/">
						<img src="{% static 'images/logo.png' %}" alt="Fox Knows" />
					</a>
				</li>
				<li>
					<a href="/feed/" {% if request.path|startswith:'/feed/' %}class="active"{% endif %}>Лента</a>
				</li>
				<li>
					<a href="/map/" {% if request.path|startswith:'/map/' %}class="active"{% endif %}>Карта</a>
				</li>
				<li>
					<a href="/events/upcoming/" {% if request.path|startswith:'/events/' %}class="active"{% endif %}>Мероприятия</a>
				</li>
				<li>
					<a href="/ratings/" {% if request.path|startswith:'/ratings/' %}class="active"{% endif %}>Рейтинги</a>
				</li>
			</ul>
			<div class="right-part">
				<form method="get" action="#" class="search" style="width:200px">
					<input type="text" name="k" id="k" value="" placeholder="Поиск" style="width:200px">
				</form>
				<a id="loginLink">Вход и регистрация</a>
			</div>
		</header>

		<div id="secondHeader">
			{% if request.path|startswith:'/feed/' %}
			<ul class="nav" id="feed">
				<li><a href="/feed/articles/{{ request.path|get_direction_city_url }}">Статьи</a></li>
				<li><a href="/feed/videos/{{ request.path|get_direction_city_url }}">Видео</a></li>
				<li><a href="/feed/audios/{{ request.path|get_direction_city_url }}">Аудио</a></li>
				<li><a href="/feed/photos/{{ request.path|get_direction_city_url }}">Фото</a></li>
				<li><a href="/feed/links/{{ request.path|get_direction_city_url }}">Ссылки</a></li>
				<li><a href="/feed/organizations/{{ request.path|get_direction_city_url }}">Организации</a></li>
				<li><a href="/feed/persons/{{ request.path|get_direction_city_url }}">Персоны</a></li>
				{% if '/direction-dance/' in request.path %}<li><a href="/feed/dance-styles/{{ request.path|get_direction_city_url }}">Стили танцев</a></li>{% endif %}
			</ul>
			{% endif %}

			{% if request.path|startswith:'/map/' %}
			<ul class="nav" id="map">
				<li><a href="/map/places/{{ request.path|get_direction_city_url }}">Места</a></li>
				<li><a href="/map/schools/{{ request.path|get_direction_city_url }}">Школы</a></li>
				<li><a href="/map/shops/{{ request.path|get_direction_city_url }}">Магазины</a></li>
				<li><a href="/map/services/{{ request.path|get_direction_city_url }}">Услуги</a></li>
				<li><a href="/map/halls/{{ request.path|get_direction_city_url }}">Залы для аренды</a></li>
			</ul>
			{% endif %}

			{% if request.path|startswith:'/events/' %}
			<ul class="nav" id="events">
				<li><a href="/events/upcoming/{{ request.path|get_direction_city_url }}">Предстоящие</a></li>
				<li><a href="/events/calendar/{{ request.path|get_direction_city_url }}">Календарь</a></li>
				<li><a href="/events/promo-actions/{{ request.path|get_direction_city_url }}">Акции и розыгрыши</a></li>
				<li><a href="/events/past/{{ request.path|get_direction_city_url }}">Прошедшие</a></li>
			</ul>
			{% endif %}

			{% if request.path|startswith:'/profiles/' %}
			<ul class="nav" id="profiles">
				<li><a href="/profiles/{{ request.path|get_direction_city_url }}">Моя страница</a></li>
				<li><a href="/profiles/edit/{{ request.path|get_direction_city_url }}">Редактировать</a></li>
				<li><a href="/profiles/settings/{{ request.path|get_direction_city_url }}">Настройки</a></li>
			</ul>
			{% endif %}
		</div>

        <!-- scrollTo Top -->
        <a id='stt' class="toTop hidden-sm hidden-xs" href="#topNav" >Наверх <i class="fa fa-arrow-circle-up"></i></a>
        <!-- /scrollTo Top -->

				<!--<div class="pull-right nav hidden-xs"> -->

					<!--<a class="my-top-menu" href="/about/"><i class="fa fa-angle-right"></i> О Компании</a>-->
					<!--<a class="my-top-menu" href="/contacts/"><i class="fa fa-angle-right"></i> Контакты</a>-->
				<!--</div>-->