{% load static %}
{% load startswith %}
		<header id="mainHeader">
			<ul>
				<li class="logo">
					<a style='list-style: none !important;' href="/">
						<img src="{% static 'images/logo.png' %}" alt="Fox Knows" />
					</a>
				</li>
				<li>
					<a href="/feed/" {% if request.path|startswith:'/feed/' %}class="active"{% endif %}>Лента</a>
				</li>
				<li>
					<a href="/map/" {% if request.path|startswith:'/map/' %}class="active"{% endif %}>Карта</a>
				</li>
				<li>
					<a href="/events/" {% if request.path|startswith:'/events/' %}class="active"{% endif %}>Мероприятия</a>
				</li>
				<li>
					<a href="/ratings/" {% if request.path|startswith:'/ratings/' %}class="active"{% endif %}>Рейтинги</a>
				</li>
			</ul>
			<div class="right-part">
				<form method="get" action="#" class="search" style="width:200px">
					<input type="text" name="k" id="k" value="" placeholder="Поиск" style="width:200px">
				</form>
				<a id="loginLink">Вход и регистрация</a>
			</div>
		</header>

		<div id="secondHeader">
			{% if request.path|startswith:'/feed/' %}
			<ul class="nav" id="feed">
				<li><a href="/articles/">Статьи</a></li>
				<li><a href="/videos/">Видео</a></li>
				<li><a href="/audios/">Аудио</a></li>
				<li><a href="/photos/">Фото</a></li>
				<li><a href="/should-know/">Стоит знать</a></li>
				<li><a href="/dance-styles/">Стили танцев</a></li>
			</ul>
			{% endif %}

			{% if request.path|startswith:'/map/' %}
			<ul class="nav" id="map">
				<li><a href="/map/places/">Места</a></li>
				<li><a href="/map/schools/">Школы</a></li>
				<li><a href="/map/goods-and-services/">Товары и услуги</a></li>
				<li><a href="/map/halls/">Залы для аренды</a></li>
			</ul>
			{% endif %}

			{% if request.path|startswith:'/events/' %}
			<ul class="nav" id="events">
				<li><a href="/events/calendar/">Календарь</a></li>
				<li><a href="/events/upcoming/">Предстоящие</a></li>
				<li><a href="/events/past/">Прошедшие</a></li>
			</ul>
			{% endif %}
		</div>

        <!-- scrollTo Top -->
        <a id='stt' class="toTop hidden-sm hidden-xs" href="#topNav" >Наверх <i class="fa fa-arrow-circle-up"></i></a>
        <!-- /scrollTo Top -->

				<!--<div class="pull-right nav hidden-xs"> -->

					<!--<a class="my-top-menu" href="/about/"><i class="fa fa-angle-right"></i> О Компании</a>-->
					<!--<a class="my-top-menu" href="/contacts/"><i class="fa fa-angle-right"></i> Контакты</a>-->
				<!--</div>-->