{% extends "base.html" %}
{% load get_direction_city_url %}
{% block title %}{{ title }} - {% endblock %}

{% block wrapper %}
<style>
/* table settings */
div.mega-price-table div.alternate {
    background-color: rgba(0,0,0,0.03);
}

div.mega-price-table div.pricing {
    margin-left: 1px !important;
    background: rgba(0,0,0,0.03);
}
div.mega-price-table div .pricing.popular {
    background-color: #676767;
}
@media (max-width: 992px) {
.dance-title {
    text-align: center;
    margin-top: 5px;
}
}
/* full height row */
/* content styles */

.inside {
  margin-top: 20px;
  margin-bottom: 20px;

}
.inside-full-height {
  /*
  // if you want to give content full height give him height: 100%;
  // with content full height you can't apply margins to the content
  // content full height does not work in ie http://stackoverflow.com/questions/27384433/ie-display-table-cell-child-ignores-height-100
  */
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

/* columns of same height styles */

.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}

@media (min-width: 992px) {
  .row-md-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-md-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
}
</style>
		<div style="padding-top:10px">
			<section class="container">
                <form method="post">
                    {% csrf_token %}
                    <div class="row" style="margin-top:10px; text-align:center">

                        {% for field in form %}
                        <div class="{% if not forloop.last %}col-md-4{% else %}col-md-3{% endif %}">
                            <div class="row">
                                <div class="col-md-12">
                                    <em>{{ field.label }}</em>
                                </div>
                                <div class="col-md-12">
                                    {{ field }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        <div class="col-md-1">
                            <button type="submit" class="btn btn-primary">Найти</button>
                        </div>
                    </div>
                </form>

                {% for events in events_months %}

                <div class="row mega-price-table">
                    <div class="row" style="margin: auto 0">
                        <div class="col-md-4 pricing-title" style="height: 75px;">
                            <h3><small>{{ events.month }}</small></h3>
                        </div>

                        <div class="col-md-2 hidden-sm hidden-xs">
                            <div class="pricing">
                                <div class="pricing-head">
                                    <h3>Тип</h3>
                                    <small>мероприятия</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 hidden-sm hidden-xs">
                            <div class="pricing">
                                <div class="pricing-head">
                                    {{ local_class_title|safe }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 hidden-sm hidden-xs">
                            <div class="pricing">
                                <div class="pricing-head">
                                    <h3>Дата</h3>
                                    <small>проведения</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 hidden-sm hidden-xs">
                            <div class="pricing">
                                <div class="pricing-head">
                                    <h3>Место</h3>
                                    <small>проведения</small>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- option list -->
                    {% for event in events.instances %}
                    <div class="row" style="margin: auto 0">
                        <div class="row-height">

                            <div class="col-md-4 col-md-height">
                                <div class="inside pricing popular inside-full-height">
                                    <div class="dance-title inside inside-full-height{% if forloop.counter0|divisibleby:2 %} alternate{% endif %}" style="padding: 10px; color: #7e8998;">
                                        <a href="/events/event-{{ event.pk }}/{{ request.path|get_direction_city_url }}">{{ event.title }}</a>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2 col-md-height">
                                <div class="pricing inside inside-full-height">
                                    <div class="inside inside-full-height{% if forloop.counter0|divisibleby:2 %} alternate{% endif %}" style="padding: 10px; text-align: center; color: #7e8998;">
                                        {% if not event.types.all %}
                                        <span class="hidden-md hidden-lg"><b>Тип мероприятия: </b>Неизвестен</span>
                                        <br />
                                        {% else %}
                                        <span class="hidden-md hidden-lg"><b>Тип мероприятия: </b></span>
                                        {% endif %}
                                        {% for event_type in event.types.all %}
                                        {{ event_type.title_show }} <br />
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2 col-md-height">
                                <div class="pricing inside inside-full-height">
                                    <div class="inside inside-full-height{% if forloop.counter0|divisibleby:2 %} alternate{% endif %}" style="padding: 10px; text-align: center; color: #7e8998;">
                                        {% if not event.local_classes.dance_styles.all %}
                                        <span class="hidden-md hidden-lg"><b>Стили:</b> Неизвестно</span>
                                        <br />
                                        {% else %}
                                        <span class="hidden-md hidden-lg"><b>Стили: </b></span>
                                        {% endif %}
                                        {% for dance_style in event.local_classes.dance_styles.all %}
                                        {{ dance_style.title }} <br />
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2 col-md-height">
                                <div class="pricing inside inside-full-height">
                                    <div class="inside inside-full-height{% if forloop.counter0|divisibleby:2 %} alternate{% endif %}" style="padding: 10px; text-align: center; color: #7e8998;">
                                        {% if not event.date_show %}
                                        <span class="hidden-md hidden-lg"><b>Дата: </b> Неизвестна</span>
                                        <br />
                                        {% else %}
                                        <span class="hidden-md hidden-lg"><b>Дата: </b></span>
                                        {{ event.date_show }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2 col-md-height">
                                <div class="pricing inside inside-full-height">
                                    <div class="inside inside-full-height{% if forloop.counter0|divisibleby:2 %} alternate{% endif %}" style="padding: 10px; text-align: center; color: #7e8998;">
                                        {% if not event.get_locations %}
                                        <span class="hidden-md hidden-lg"><b>Место:</b> Неизвестно</span>
                                        <br />
                                        {% else %}
                                        <span class="hidden-md hidden-lg"><b>Место: </b></span>
                                        {% endif %}
                                        {{ event.get_locations }} <br />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    {% endfor %}
                    <!-- /option list -->
                </div>
                {% endfor %}
                <!-- /Full 1 -->
                <hr />
            </section>
        </div>
        <!-- /WRAPPER -->
{% endblock %}