{% extends "base.html" %}
{% load can_edit %}
{% load can_delete %}
{% load get_direction_city_url %}

{% block title %}{{ title }} - {% endblock %}

{% block wrapper %}
{% include 'modal-style.html' %}
		<!-- WRAPPER -->
		<div id="wrapper" style="padding-top:0">
			<div class="container magazine top-no-header" style="padding-top:20px">
				<div class="row">
					<div class="col-md-12">

						<header class="page-title">
							<h1 style="text-align: center">{{ instance.title }}</h1>
							<div class="pull-right">
								<small class="block styleCoor fsize20">
									<span class="label label-default" title="Даты проведения и длительность мероприятия">{{ instance.date_show }} | {{ instance.duration_show }}</span>
								</small>
							</div>
							<small class="block styleCoor fsize20">
								<span class="label label-{{ instance.status_label_color }}" title="Статус мероприятия"><i class="fa {{ instance.status_icon }}"></i> {{ instance.status }}</span>
							</small>
							<a href="/feed/promo-actions/" class="btn btn-primary">Список акций</a>
							{% if user|can_edit:instance %}<a href="{{ request.path }}edit/" class="btn btn-primary">Изменить</a> {% endif %}
							{% if user|can_delete:instance %}<a class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Удалить</a>{% endif %}
						</header>

						{% include 'entities/instance-delete.html' %}

						<div class="divider half-margins"><!-- divider -->
							<i class="fa fa-star"></i>
						</div>
					</div>
				</div>
			</div>

			<section class="container">
				<div class="row">
					<!-- center column -->
					<div class="col-md-9">
						<div class="white-row">
							<!-- PROPERTY FEATURES -->
							<h3 class="page-header margin-bottom40" style="text-align:center">
								<strong class="styleColor">Основная информация</strong>
							</h3>

							<div class="row">
								<!-- col 1 -->
								<div class="col-md-5 col-sm-6 col-md-offset-1">
									{% if instance.types.all %}
									<div class="row">
										<div class="col-md-12">
											<small class="block styleCoor fsize20">
												<i class="fa fa-list-alt" title="Типы мероприятий"></i>
												{% for instance_type in instance.types.all %}
												<span class="label label-primary" title="{{ instance_type.title_show }}">{{ instance_type.title_show|truncatechars:30 }}</span>
												{% endfor %}
											</small>
										</div>
									</div>
									{% endif %}
									{% if instance.local_classes.dance_styles.all %}
									<div class="row">
										<div class="col-md-12">
											<small class="block styleCoor fsize20">
												<i class="fa fa-reorder" title="Стиль танца"></i>
												{% for dance_style in instance.local_classes.dance_styles.all %}
												<span class="label label-success" title="{{ dance_style.title }}">{{ dance_style.title|truncatechars:30 }}</span>
												{% endfor %}
											</small>
										</div>
									</div>
									{% endif %}
								</div>
								<!-- col 2 -->
								<div class="col-md-5 col-sm-6 col-md-offset-1">
									{% if instance.locations.all %}
									<div class="row">
										<div class="col-md-12">
											<small class="block styleCoor fsize20">
												<i class="fa fa-globe" title="Места проведения"></i>
												{% for location in instance.locations.all %}
												<span class="label label-info" title="{{ location.title_show }}">{{ location.title_show|truncatechars:30 }}</span>
												{% endfor %}
											</small>
										</div>
									</div>
									{% endif %}
									{% if instance.note %}
									<div class="row">
										<div class="col-md-12">
											<small class="block styleCoor fsize20">
												<i class="fa fa-exclamation-circle" title="Обратите внимание"></i>
												<span class="label label-default" title="{{ instance.note }}">{{ instance.note|truncatechars:30 }}</span>
											</small>
										</div>
									</div>
									{% endif %}
								</div>
							</div>

							<hr style="margin: 20px 0"/><!-- divider -->

							{% if instance.image %}
							<div class="row">
								<div class="col-md-10 col-md-offset-1" style="margin-bottom: 10px; text-align: left;">
									<img src="{{ instance.image.url }}" class="img-responsive" style="width: 100%; height: auto; display: block; margin-bottom: 10px;">
								</div>
							</div>
							<hr style="margin: 20px 0"/><!-- divider -->
							{% endif %}

							{% if instance.description %}
							<p class="lead text-center">Описание мероприятия</p>
							{{ instance.description|linebreaks }}
							{% endif %}

							{% if instance.links.all %}
							<p>Источник:
								{% for link in instance.links.all %}
								<a href="{{ link.link }}">Перейти</a>
								{% endfor %}
							</p>
							{% endif %}

							{% if instance.video %}
							<div class="row">
								<div class="col-md-10 col-md-offset-1">
									<div style="width: 100%; position: relative; padding: 0;">
										<iframe src="{{ instance.video }}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0; margin: 0; padding: 0;" width="800" height="450"></iframe>
									</div>
								</div>
							</div>
							{% endif %}
						</div><!-- /.white-row -->
					</div>

					<!-- side column -->
					<div class="col-md-3">
						<form method="post" class="white-row" action="/events/upcoming/{{ request.session|get_direction_city_url }}">
							{% csrf_token %}
							<!-- FILTER / SEARCH -->
							<h3 class="page-header nomargin-top margin-bottom40">
								Найти <strong class="styleColor">мероприятия</strong>
							</h3>

							<div class="row">
								<div class="form-group">
									{% for field in form %}
									<div class="col-md-12 col-sm-6">
										<label>{{ field.label }}</label>
										{{ field }}
									</div>
									{% endfor %}
									<div class="col-md-12">
										<label>&nbsp;</label>
										<button class="btn btn-primary fullwidth">Найти</button>
									</div>
								</div>
							</div>
						</form>
						<!-- SOCIALS -->
						<h3 class="page-header">
							<i class="fa fa-twitter"></i>
							<strong class="styleColor">Следите</strong> за нами
						</h3>
						<a href="#" class="social fa fa-facebook"></a>
						<a href="#" class="social fa fa-twitter"></a>
						<a href="#" class="social fa fa-google-plus"></a>
						<a href="#" class="social fa fa-linkedin"></a>
						<a href="#" class="social fa fa-pinterest"></a>
						<a href="#" class="social fa fa-flickr"></a>
					</div>
				</div>
			</section>
		</div>
		<!-- /WRAPPER -->
{% endblock %}