{% load crispy_forms_tags %}
{% load get_direction_city_url %}
{% load get_instance_id %}
{% load static %}

 	  	<div class="modal-header">
 	  		<button type="button" class="close" data-dismiss="modal">&times;</button>
 	  		<h4 class="modal-title">Изменить выбор ссылок</h4>
   		</div>
		<form action="/hall-{{ instance.pk }}/edit/edit-hall-links/" method="post">
			<!-- modal body -->
			<div class="modal-body">
				<div class="row">
					<div class="col-md-6">
						{% csrf_token %}
						{{ form }}
					</div>
					<div class="col-md-6">
						<a
							data-toggle="modal"
						   	href="/create/attributes/create-hall-link/{{ request.path|get_direction_city_url }}?instance={{ request.path|get_instance_id }}"
						   	data-target="#myModal2" class="btn btn-primary">Добавить новую ссылку</a>

					</div>
				</div>
			</div>
			<!-- /modal body -->

			<div class="modal-footer"><!-- modal footer -->
				<button class="btn btn-default" data-dismiss="modal">Отмена</button>
				<button type="submit" class="btn btn-primary">Сохранить выбор ссылок</button>
			</div><!-- /modal footer -->
		</form>
