{% extends "base.html" %}

{% block title %}{{ title }} - {% endblock %}

{% block wrapper %}
{% include 'modal-style.html' %}
        <!-- WRAPPER -->
		<div id="wrapper" style="padding-top:0px">
			<div id="blog">
                <div class="row">
                    <div class="col-md-12">

                        <header class="page-title">
                            <h1 style="text-align: center">{{ instance.title }}</h1>
                            <a href="/article-{{ instance.pk }}/" class="btn btn-primary">Просмотреть изменения</a>
                        </header>
                        <small class="fsize13">
                            <span class="label label-default light">{{ instance.created }}</span>
                        </small>
                        <div class="divider half-margins"><!-- divider -->
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>
                <section class="container">
                    <div class="row">

                        <div class="col-md-9">
                            <div class="white-row">

                            {% if instance.image %}
                            <img src="{{ instance.image.url }}" class="img-responsive" alt="{{ instance.title }}" />
                            {% endif %}
                            <!-- article content -->
                            <article class="article_text">
                                {{ instance.description|linebreaks }}
                            </article>

                            <hr />

                            <!-- TAGS -->
                            <p class="fsize16"> Разделы:
                                <a class="label label-default light" href="#"><i class="fa fa-tags"></i> Business</a>
                                <a class="label label-default light" href="#"><i class="fa fa-tags"></i> Design</a>
                                <a class="label label-default light" href="#"><i class="fa fa-tags"></i> Technology</a>
                            </p>

                            <div class="divider"><!-- divider -->
                                <i class="fa fa-star"></i>
                            </div>

                            </div>
                        </div>

                        <!-- side column -->
                        <div class="col-md-3">
                            <div class="white-row">
                                <h3 class="page-header nomargin-top margin-bottom40">
                                    Изменить <strong class="styleColor">информацию</strong>
                                </h3>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-12 col-sm-6">

                                            {% for url_entity, url_attr, title in edit_buttons %}
                                            <a data-toggle="modal" href="/{{ url_entity }}-{{ instance.pk }}/edit/{{ url_attr }}/"
                                               data-target="#myModal" class="btn btn-primary">{{ title }}</a>
                                            <br />
                                            {% endfor %}

                                            <!-- Modal -->
                                            <div id="myModal" class="modal fade" role="dialog">
                                                <div class="modal-dialog">
                                                    <div class="modal-content clearable-content">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Modal -->
                                            <div id="myModal2" class="modal fade" role="dialog">
                                                <div class="modal-dialog">
                                                    <div class="modal-content clearable-content">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</section>
			</div>
		</div>
		<!-- /WRAPPER -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
$(document).on('hidden.bs.modal', function (e) {
    var target = $(e.target);
    target.removeData('bs.modal')
    .find(".clearable-content").html('');
});
</script>
{% endblock %}