{% extends "base.html" %}

{% block title %}{{ title }} - {% endblock %}

{% block wrapper %}
{% include 'modal-style.html' %}
		<!-- WRAPPER -->
		<div id="wrapper" style="padding-top:0">
			<div class="container magazine top-no-header" style="padding-top:20px">
				<div class="row">
					<div class="col-md-12">

						<header class="page-title">
							<h1 style="text-align: center">{{ instance.title }}</h1>
							<a href="/event-{{ instance.pk }}/" class="btn btn-primary">Просмотреть изменения</a>
							<div class="pull-right">
								<small class="block styleCoor fsize20">
									<span class="label label-default" title="Даты проведения и длительность мероприятия">{{ instance.date_show }} | {{ instance.duration_show }}</span>
								</small>
							</div>
							<small class="block styleCoor fsize20">
								<span class="label label-{{ instance.status_label_color }}" title="Статус мероприятия"><i class="fa {{ instance.status_icon }}"></i> {{ instance.status }}</span>
							</small>
						</header>

						<div class="divider half-margins"><!-- divider -->
							<i class="fa fa-star"></i>
						</div>
					</div>
				</div>
			</div>

			<section class="container">
				<div class="row">
					<!-- center column -->
					<div class="col-md-9">
						<div class="white-row">
							<!-- PROPERTY FEATURES -->
							<h3 class="page-header margin-bottom40" style="text-align:center">
								<strong class="styleColor">Основная информация</strong>
							</h3>

							<div class="row">
								<!-- col 1 -->
								<div class="col-md-5 col-sm-6 col-md-offset-1">
									{% if instance.types.all %}
									<div class="row">
										<div class="col-md-12">
											<small class="block styleCoor fsize20">
												<i class="fa fa-list-alt" title="Типы мероприятий"></i>
												{% for event_type in instance.types.all %}
												<span class="label label-primary" title="{{ event_type.title_show }}">{{ event_type.title_show|truncatechars:30 }}</span>
												{% endfor %}
											</small>
										</div>
									</div>
									{% endif %}
									{% if event.local_classes.dance_styles.all %}
									<div class="row">
										<div class="col-md-12">
											<small class="block styleCoor fsize20">
												<i class="fa fa-reorder" title="Стиль танца"></i>
												{% for dance_style in instance.local_classes.dance_styles.all %}
												<span class="label label-success" title="{{ dance_style.title }}">{{ dance_style.title|truncatechars:30 }}</span>
												{% endfor %}
											</small>
										</div>
									</div>
									{% endif %}
								</div>
								<!-- col 2 -->
								<div class="col-md-5 col-sm-6 col-md-offset-1">
									{% if instance.locations.all %}
									<div class="row">
										<div class="col-md-12">
											<small class="block styleCoor fsize20">
												<i class="fa fa-globe" title="Места проведения"></i>
												{% for location in instance.locations.all %}
												<span class="label label-info" title="{{ location.title_show }}">{{ location.title_show|truncatechars:30 }}</span>
												{% endfor %}
											</small>
										</div>
									</div>
									{% endif %}
									{% if instance.note %}
									<div class="row">
										<div class="col-md-12">
											<small class="block styleCoor fsize20">
												<i class="fa fa-exclamation-circle" title="Обратите внимание"></i>
												<span class="label label-default" title="{{ instance.note }}">{{ instance.note|truncatechars:30 }}</span>
											</small>
										</div>
									</div>
									{% endif %}
								</div>
							</div>

							<hr style="margin: 20px 0"/><!-- divider -->

							{% if instance.image %}
							<div class="row">
								<div class="col-md-10 col-md-offset-1" style="margin-bottom: 10px; text-align: left;">
									<img src="{{ instance.image.url }}" class="img-responsive" style="width: 100%; height: auto; display: block; margin-bottom: 10px;">
								</div>
							</div>
							<hr style="margin: 20px 0"/><!-- divider -->
							{% endif %}

							{% if instance.description %}
							<p class="lead text-center">Описание</p>
							{{ instance.description|linebreaks }}
							{% endif %}

							{% if instance.links.all %}
							<p>Источник:
								{% for link in instance.links.all %}
								<a href="{{ link.link }}">Перейти</a>
								{% endfor %}
							</p>
							{% endif %}

							{% if instance.video %}
							<div class="row">
								<div class="col-md-10 col-md-offset-1">
									<div style="width: 100%; position: relative; padding: 0;">
										<iframe src="{{ instance.video }}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0; margin: 0; padding: 0;" width="800" height="450"></iframe>
									</div>
								</div>
							</div>
							{% endif %}
						</div><!-- /.white-row -->
					</div>

					<!-- side column -->
					<div class="col-md-3">
						<div class="white-row">
							<h3 class="page-header nomargin-top margin-bottom40">
								Изменить <strong class="styleColor">информацию</strong>
							</h3>
							<div class="row">
								<div class="form-group">
									<div class="col-md-12 col-sm-6">

										{% for url_entity, url_attr, title in edit_buttons %}
										<a data-toggle="modal" href="/{{ url_entity }}-{{ instance.pk }}/edit/{{ url_attr }}/"
										   data-target="#myModal" class="btn btn-primary">{{ title }}</a>
										<br />
										{% endfor %}

										<!-- Modal -->
										<div id="myModal" class="modal fade" role="dialog">
											<div class="modal-dialog">
												<div class="modal-content clearable-content">
												</div>
										  	</div>
										</div>

										<!-- Modal -->
										<div id="myModal2" class="modal fade" role="dialog">
											<div class="modal-dialog">
											  	<div class="modal-content clearable-content">
											  	</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<!-- /WRAPPER -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
$(document).on('hidden.bs.modal', function (e) {
    var target = $(e.target);
    target.removeData('bs.modal')
    .find(".clearable-content").html('');
});
</script>
{% endblock %}