{% load crispy_forms_tags %}
{% load static %}

 	  	<div class="modal-header">
 	  		<button type="button" class="close" data-dismiss="modal">&times;</button>
 	  		<h4 class="modal-title">Изменить права пользователей</h4>
   		</div>
		<form action="/resource-{{ instance.pk }}/edit/edit-policy/" method="post">
			<!-- modal body -->
			<div class="modal-body">
				{% csrf_token %}
				{{ form }}
			</div>
			<!-- /modal body -->

			<div class="modal-footer"><!-- modal footer -->
				<button class="btn btn-default" data-dismiss="modal">Отмена</button>
				<button type="submit" class="btn btn-primary">Сохранить права пользователей</button>
			</div><!-- /modal footer -->
		</form>
