{% extends "base.html" %}
{% block title %}{{ title }} - {% endblock %}

{% block wrapper %}
        <!-- WRAPPER -->
		<div id="wrapper" style="padding-top:10px">
			<section class="container">
				<div class="row">
					<div class="col-md-9">

						<h2><strong>Найдите самый подходящий </strong> <small class="font300">танцевальный стиль для себя</small></h2>

                        <div class="toogle">

                            {% for styles_direction in styles_directions %}

                            <div class="toggle active">
                                <label>{{ styles_direction.direction }}</label>
                                <div class="toggle-content">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Название стиля</th>
                                                    <th>Одиночный/парный/групповой</th>
                                                    <th>Дистанция между партнерами</th>
                                                    <!--<th>Уровень цен</th>-->
                                                    <!--<th>Возрастная категория</th>-->
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for dance_style in styles_direction.instances %}
                                                <tr>
                                                    <td><a class="styleColor" href="/dance-style-{{ dance_style.pk }}">{{ dance_style.title }}</a></td>
                                                    <td>{% for count_type in dance_style.get_count_types_list %}{{ count_type }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                                                    <td>{% for distance in dance_style.get_distance_types_list %}{{ distance }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                                                    <!--<td>{% for price in dance_style.get_average_prices_list %}{{ price }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>-->
                                                    <!--<td>{% for age in dance_style.get_attendee_ages_list %}{{ age }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>-->
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>

                            {% endfor %}

                        </div>

					</div>

                    					<!-- side column -->
					<div class="col-md-3">
						<form method="post" class="white-row">
							{% csrf_token %}
							<!-- FILTER / SEARCH -->
							<h3 class="page-header nomargin-top margin-bottom40">
								Найти <strong class="styleColor">стиль</strong>
							</h3>

							<input type="hidden" name="city" value="{{ select_city_form.city.value }}">

							<div class="row">
								<div class="form-group">

									{% for field in form %}
									<div class="col-md-12 col-sm-6">
										<label>{{ field.label }}</label>
										{{ field }}
									</div>
									{% endfor %}

									<div class="col-md-12">
										<label>&nbsp;</label>
										<button class="btn btn-primary fullwidth">Найти</button>
									</div>
								</div>
							</div>
						</form>
						<!-- SOCIALS -->
						<h3 class="page-header">
							<i class="fa fa-twitter"></i>
							<strong class="styleColor">Следите</strong> за нами
						</h3>
						<a href="#" class="social fa fa-facebook"></a>
						<a href="#" class="social fa fa-twitter"></a>
						<a href="#" class="social fa fa-google-plus"></a>
						<a href="#" class="social fa fa-linkedin"></a>
						<a href="#" class="social fa fa-pinterest"></a>
						<a href="#" class="social fa fa-flickr"></a>
					</div>
					<!-- /side column -->
				</div>
			</section>
		</div>
		<!-- /WRAPPER -->
{% endblock %}